.limiter {
  width: 960px;
  margin: 0px auto;
}
#header {
  height: 30px;
  background: #666;
  }

#header h1 {
  color: #eee;
  padding:5px 0px 0px 10px;
  }

#map {
  width: 640px;
  height: 700px;
  float: left;
}

#controls {
  background: #eee;
  width: 320px;
  float: right;
  }

#controls h2 {
  float: left;
  padding-left: 10px;
  width: 125px;
  line-height: 30px;
  }

#controls input {
  float: right;
  border-radius: 4px;
  background: #ccc;
  padding: 0px 5px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-right: 10px;
  }

div.input-table {
  background: #fff;
  height: 600px;
  width: 100%;
  overflow: scroll;
  float: left;
  clear: both;
}
table {
  table-layout: fixed;
  width: 100%;
  }
table tr {
  border: 1px solid #666;
  }
table th,
table td {
  padding: 5px;
  }
